* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    background:linear-gradient(to right,#21DADB,#4D94E6,#4D94E6,#21DADB);;
    
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
  }
  
 .logo img {
  padding-top: 20px;
    width:20%;
  }
  
  .main-sentence{
    color: rgb(0, 0, 0);
    font-size:xx-large;
    padding-bottom: 40px;
    padding-left: 10px;
    justify-self: center;
    align-self: center;
  }
  .main-content {
    padding: 60px 20px;
    transition: transform 0.5s ease-in-out;
  }
  .main-content:hover{
    transform: scale(1.05);
  }
  .menu.active {
    right: 0;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 800px;
    background-color: #4D94E6;
    transition: all 0.5s ease-in-out;
    
  }
  .menu .menu-content {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
  }
  
  
  
  .menu .menu-content ul li {
    margin: 20px 0;
  }
  
  .menu .menu-content ul li a {
    color: rgb(0, 0, 0);
    
    font-size: x-large;
    transition: color 0.3s ease;
  }
  
  .menu .menu-content ul li a:hover {
    color: #21DADB;
  }
  .menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
  }
   .bar {
    width: 30px;
    height: 4px;
    background-color: #000000;
    
  }
  .intro {
    
   color: black;
   font-size: x-large;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
  }
  .intro:hover {
    transform: scale(1.1);
  }
  .intro h2{
    color:white;
  }
  .container {
    color:black;
    padding: 60px 20px;
  }
  .section {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .box {
    color: black;
    margin: 20px;
    background: #35BBDF;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    transition: transform 0.5s ease;
  }
  .box:hover {
    transform: scale(1.2);
  }
  .main-content.prism-effect {
    transform: perspective(1300px) rotateY(60deg) rotateX(0deg);
    filter: brightness(0.8) contrast(1.3);
    transition: all 0.5s ease;
  }
  .contact {
    padding: 60px 20px;
    text-align: center;
    width: 100%;
    
}
.contact p {
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 20px;
}
.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}